### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
salary=float(input('enter yearly salary in lakhs i.e lpa'))
if salary>=0 and salary<5:
   salary=(salary-0.1*salary - 0.05*salary-0.03*salary)/12
elif salary>=5 and salary<10:
   salary=(salary-0.1*salary - 0.05*salary-0.03*salary- 0.1*salary)/12
elif salary>=10 and salary<20:
   salary=(salary-0.1*salary - 0.05*salary-0.03*salary - 0.2*salary)/12
elif salary>=20:
   salary=(salary-0.1*salary - 0.05*salary-0.03*salary - 0.3*salary)/12
rounded=round(salary , 4)
if rounded>=1 :
 print('your monthly salary after deduction, in lakhs is', rounded)
else :
  rounded=round(rounded*100000,4)
  print('your monthly salary after deduction, in thousands is', rounded)

enter yearly salary in lakhs i.e lpa18
your monthly salary after deduction, in thousands is 93000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
print('enter angles in degree')
angle1= float(input('enter angle 1 '))
angle2= float(input('enter angle 2 '))
angle3= float(input('enter angle 3 '))
if angle1 + angle2 + angle3 == 180:
  print('the figure is an triangle')
else:
    print('the figure is not an triangle')

enter angles in degree
enter angle 1 60
enter angle 2 37
enter angle 3 110
the figure is not an triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cp=float(input('enter cp '))
sp=float(input('enter sp '))
if sp> cp:
  print('you made profit')
elif sp == cp:
    print('you made neither profit nor loss')
else:
  print('you made loss')

enter cp 20
enter sp 20
you made neither profit nor loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
print('put the initials for conbversions')
print(' 1. cm to ft 2.km to miles 3.USD to INR 4.exit')
op=int(input('initials'))
if op>=1 and op <=3:
 num =float(input('eneter value to be converted'))
 if op == 1:
   num = num*0.0328084
 elif op == 2:
   num = num*0.621371
 elif op == 3:
   num = num*86.77
 print('the converted value is ' , num)
else :
  print('exiting')

put the initials for conbversions
 1. cm to ft 2.km to miles 3.USD to INR 4.exit
initials3
eneter value to be converted1
the converted value is  86.77

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
a,b=0,1
print(a)

for i in range(1,10):
 print(b)
 c=a+b
 a=b
 b=c
 #30 min lg gye , ques me

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
num=int(input("enter num"))
d=num-1
c=num*d
while d!=1:
  d=d-1
  c=c*d

print(c)
#16 min lgee

enter num5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
n=int(input('int '))
while n != 0:
  a=n%10
  n=n//10
  print(a,end='')
  #15 minutes

int 17869
96871

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
n = int(input('enter num '))
sum = 0
i = 1
while i < n+1:
    if i % 5 != 0:
        if sum +i>300:
          break
        sum=sum+i
    i = i + 1
print(sum)

enter num 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum=0
count=0
n=None
while n != 0:
  n = int(input('num '))
  if n==0:
    break
  sum=sum +n
  count= count+1
  average =sum//count
print (sum , average)

num 2
num 2
num 2
num 2
num 0
8 2

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
n=2000
fr=True
while n<=3200:
  if n%7==0 and n%5!=0:
   if fr:
     print(n,end=" ")
     fr= False
   else:
     print(",",n,end="")
  n=n+1

2002 , 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
n=1000
while n<=3000:
  temp=n
  rf=True
  while temp>0:
    a=temp%10
    if a%2 != 0:
      rf=False
      break
    else:
      temp=temp//10
  if rf:
   print (n,end=' ')
  n=n+1

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
x=0
y=0
up=int(input('up'))
down=int(input('down'))
left=int(input('left'))
right=int(input('right'))
x=left-right
y=up-down
a=pow(pow(x,2)+pow(y,2),0.5)
print(int(a))

up2
down2
left0
right4
4

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
num = int(input("num: "))

if num <= 1:
    print( num, "nhi hota prime number ")
else:
    for i in range(2, num):
        if num % i == 0:
            print(" prime no. do ,ye nhi hai prime ")
            break
    else:
        print("prime ")

num: 1
1 nhi hota prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
x = int(input("Enter lower limit "))
y = int(input("Enter upper limit "))

for i in range(x, y):
    temp = i
    sum = 0
    while temp > 0:
        a = temp % 10
        temp = temp // 10
        sum =sum+pow(a,3)
    if i == sum:
        print(i)

Enter lower limit 0
Enter upper limit 408
0
1
153
370
371
407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
import math
h=int(input('hour'))
m=int(input('min'))
angle=30*h-5.5*m
if angle<=0:
  angle= -(angle)
result = min(angle,360- angle)
print(math.floor(result))

hour0
min0
0

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [1]:
L1x = int(input('L1x: '))
L1y = int(input('L1y: '))
R1x = int(input('R1x: '))
R1y = int(input('R1y: '))
L2x = int(input('L2x: '))
L2y = int(input('L2y: '))
R2x = int(input('R2x: '))
R2y = int(input('R2y: '))

if R1x < L2x or R2x < L1x:
    print('no overlap')

elif R1y > L2y or R2y > L1y:
    print('no overlap')

else:
    print('overlap')

L1x: 0
L1y: 0
R1x: 1
R1y: 1
L2x: 2
L2y: 2
R2x: 3
R2y: 3
no overlap