# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [47]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
d=[]
l=[]
for i in test_list:
 d.append(i[0])
d=list(set(d))
for j in d:
  group=[j]
  for k in test_list:
    if j==k[0]:
      group.append(k[1])
  l.append(tuple(group))
print(l)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [34]:
t=(1, 5, 7, 8, 10)
l=[]
j=0
for i in range(len(t)):
  if i==0:
    j=t[i]*t[i+1]
  if i>0 and i<len(t)-1:
    j=t[i-1]*t[i] + t[i+1]*t[i]
  if i==len(t)-1:
    j=t[i-1]*t[i]
  l.append(j)
print(l)

[5, 40, 91, 136, 80]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [23]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)
t=False
if t1[:]==t2[:]:
    t=True
if t:
  print('same')
else:
  print('not same')

not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [18]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
l=0
s=0
t=0
for i in list1:
  if type(i)==list:
    l+=1
  elif type(i)==set:
    s+=1
  elif type(i)==tuple:
    t+=1
print('list-',l)
print('set-',s)
print('tuple-',t)

list- 2
set- 2
tuple- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [16]:

a=int(input('enter no of records'))
record=[]
for i in range(a):
  name=input('enter the name')
  year=int(input('enter the year'))
  skill=input('enter the skill')
  education=input('enter the higher education')
  record.append((name,year,skill,education))

print('enter job requirement')
skillr=input('enter the skill')
educationr=input('enter the higher education')
yearr=int(input('enter the year'))

mila=False

for student in record:
  (name,year,skill,education)=student
  if skillr==skill and educationr==education and yearr==year:
   print(student)
   mila=True

if mila==False:
   print('no such candidate')

enter no of records2
enter the namea
enter the year1
enter the skilla
enter the higher educationa
enter the nameb
enter the year1
enter the skillw
enter the higher educationd
enter job requirement
enter the skills
enter the higher educationw
enter the year2
no such candidate

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
ar1=set(ar1)
ar2=set(ar2)
ar3=set(ar3)

l=list(ar1 & ar2 & ar3)
print(l)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowel=('a','e','i','o','u','A','E','I','O','U')
s=set()
for i in Str1:
  if i in vowel:
    s.add(i)

print(len(s))

6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
l=str(input('string'))
m=[]
for i in l:
  m.append(i)
m=set(m)
if len(m)==2:
  print('yes')
else:
  print('no')

stringca
yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
l= [[1, 2, 2, 4, 3, 6],
        [5, 1, 3, 4],
       [9, 5, 7, 1],
       [2, 4, 1, 3]]
m=[]
for i in range(len(l)):
  m.extend(l[i])
m=set(m)
print(m)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
l=list(lst1 & lst2)
print(l)

[9, 10, 4, 5]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
for i in test_dict:
  value=test_dict[i]
  value=set(value)
  n=len(value)
  test_dict[i]=n
print(max(test_dict,key=test_dict.get))

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
l=test_str.split()
for i in range(len(l)):
  if l[i] in repl_dict:
    l[i]=repl_dict[l[i]]
print(' '.join(l))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
d={}
for i in range(0, len(test_list), 2):
    values = test_list[i:i+2]
    d = dict(zip(key_list, values))
    print(d)

{'name': 'DataScience', 'id': 3}
{'name': 'is', 'id': 8}

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
t=[('A', 1), ('B', 2), ('C', 3)]
d={}
for i in t:
  d[i[0]]=[i[1]]
print (d)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
d={'c': [10,34,3]}
for i in d:
  d[i].sort()
print(d)

{'c': [3, 10, 34]}