### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def new_List_unique(l):
 p=set(l)
 u=[]
 for i in range(len(l)):
  if l[i].isdigit():
   n=int(l[i])
   if n not in u:
    u.append(n)
 return u

li=input()
new_List_unique(li)

[1,2,3,3,3,3,4,5]

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
def alpha_sort(l):

 t=l.split('-')
 so=sorted(t)
 s='-'.join(so)
 print (s)

li= input()
alpha_sort(li)

green-red-yellow-black-white
black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
def upper_lower(l):

 m=[]
 p=[]
 for i in l :
  if i.isupper():
   m.append(i)
  if i.islower():
   p.append(i)
 print('lower', len(p))
 print('upper', len(m))
li=input()
upper_lower(li)

'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
lower 47
upper 9

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
def even(l):
 even =[]
 for i in l:
  if i.isdigit():
    j=int(i)
    if j%2==0:
       even.append(j)
 return even


li=input()
even(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
def perfect_num(l):
 i=1
 su=0
 while i<=l:
  is_perfect=False
  if l%i ==0:
    su+=i
  i+=1
 if su//2==l:
   print('perfect')
 else:
   print('not perfect')


li=int(input())
perfect_num(li)

496
perfect

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [10]:
def concatenate_dicts(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result


di1 = {1: 10, 2: 20}
di2 = {3: 30, 4: 40}
di3 = {5: 50, 6: 60}


net_dict = concatenate_dicts(di1, di2, di3)
print( net_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
def st(l):
 d={}
 for i in l:
  if i in d:
   d[i]+=1
  else :
    d[i]=1
 max_key = max(d, key=d.get)
 print(f"{max_key} -> {d[max_key]}")

li = input().split()
st(li)

you
you -> 1

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
def histo(l):
 d={}
 for i in l:
  if i<=0:
    continue
  a=((i-1)//10)*10+1
  b=a+9
  c=f"{a}-{b}"
  d[c]=d.get(c,0)+1

 return dict(sorted(d.items()))

li = list(map(int, input("Enter numbers separated by spaces: ").split()))
print(histo(li))

Enter numbers separated by spaces: 13 42 15 37 22 39 41 50
{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
def near(l1,q):
 closer =l1[0]
 mindis=((closer[1]-q1[1])**2 + (closer[0]-q[0])**2)**0.5

 for i in l1:
  d=(((i[1]-q1[1])**2 + (i[0]-q[0])**2)**0.5)
  if d<mindis:
    return d
l1=input()
q=input()
near(l1,q)
print

[(1,1),(2,2),(3,3),(4,4)]
(0,0)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
l1=[1,2,3]
l2=[1,2,3,4]
l3=[1,2,3,4,5]
l4=[]
s1=len(l1)
s2=len(l2)
s3=len(l3)
l5=max(s1,s2,s3)
for i in range(l5):
 a = l1[i] if i < s1 else 0
 b = l2[i] if i < s2 else 0
 c = l3[i] if i < s3 else 0
 l4.append(a + b + c)
print(l4)

[3, 6, 9, 8, 5]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
list1 = [1,2,3,4,5,6]
list2=[]
ind=0
for i in range(len(list1)):
  list2.append(list1[i]**i)
print(list2)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
def filter_(s):
    vowels = 'aeiou'
    return list(filter(lambda ch: ch.lower() in vowels, s))
#learnt new
#-----------------------------------------------------------

inp = "Hello"
result = filter_(inp)
print(result)

['e', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [9]:
from functools import reduce

list_2d=[[1,2],[3,4],[5,6]]
#list_1d=[i for j in list_2d for i in j]
#print(list_1d)
list_1d= reduce(lambda x, y: x + y, list_2d)
print(list_1d)

[1, 2, 3, 4, 5, 6]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']